* text=auto eol=lf

*.swift text eol=lf
*.plist text eol=lf
*.pbxproj text eol=lf
*.strings text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.xcassets/** binary

